.field--widget-wmbert table th:first-of-type,
.field--widget-wmbert table tr td:first-of-type {
    display: none;
}

.field--widget-wmbert .tableresponsive-toggle-columns ~ table thead th:first-of-type,
.field--widget-wmbert .tableresponsive-toggle-columns ~ table tbody td:first-of-type {
    display: table-cell;
}

.draggable-table td:first-child ~ td,
.draggable-table th:first-child ~ th {
    padding-left: 1rem;
}
